Úkol první, vyberte jeden řádek, všechny sloupečky

In [ ]:
SELECT TOP 1 * FROM TEROR;

Druhý úkol

- s odrážkami
- viď

In [ ]:
SELECT 1;   -- vybere 1
SELECT '1'; -- vybere '1'

A třetí, extra krátký

In [ ]:
SELECT 25 * 30; -- 750
SELECT 25 * 0;  -- 0
SELECT 25 / 2.5; -- 10.0
SELECT 25/0; -- division by zero

Nekonečně moc úkolů

In [ ]:
SELECT * FROM teror; -- vybere vsechny sloupce a radky z tabulky teror

_huj_ nejakej **text**

### huip

- ok
    - dkdk
    - d e r t
- oi k sjisjd djd s

# nadpis

```
this is some code
on two lines
nebo na trech? nechapu
```

In [ ]:
--prazdny kod