Úkol první, vyberte jeden řádek WHERE

In [ ]:
SELECT TOP 1 * FROM TEROR WHERE 1=1;