In [ ]:
#ignore
import numpy as n
import sqlalchemy as sql

%load_ext sql

In [ ]:
#ignore
import os
os.environ["snflk_pwd"] = ""
print (len(os.getenv("snflk_pwd")))

In [ ]:
#ignore
from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

snflk_pwd=os.getenv("snflk_pwd")
connection_string = "snowflake://{user}:{snflk_pwd}@aa85077.eu-central-1".format(user='sfadmin', snflk_pwd=os.getenv("snflk_pwd"))

%sql $connection_string

In [9]:
#ignore
%sql use database courses;
%sql use warehouse compute_wh;

 * snowflake://sfadmin:***@aa85077.eu-central-1
1 rows affected.
 * snowflake://sfadmin:***@aa85077.eu-central-1
1 rows affected.

[('Statement executed successfully.',)]

### První select
- klíčová slova
- velikost PíSMen

In [10]:
%%sql
SELECT 1;   -- vybere 1

 * snowflake://sfadmin:***@aa85077.eu-central-1
1 rows affected.

[(1,)]

### Kalkulačka?
- Sčítání, odčítání, násobení, všechno funguje, jak má

In [11]:
%%sql
SELECT 25 * 30; -- 750
SELECT 25 * 0;  -- 0
SELECT 25 / 2.5; -- 10.0
SELECT 25/0; -- division by zero

 * snowflake://sfadmin:***@aa85077.eu-central-1
1 rows affected.
1 rows affected.
1 rows affected.
(snowflake.connector.errors.ProgrammingError) 100051 (22012): Division by zero
[SQL: SELECT 25/0; -- division by zero]
(Background on this error at: http://sqlalche.me/e/13/f405)

### Všechny sloupečky a řádky
- Prostě vybereme všechno

In [14]:
%%sql
SELECT * FROM sch_czechita.teror; -- vybere vsechny sloupce a radky z tabulky teror

 * snowflake://sfadmin:***@aa85077.eu-central-1
(snowflake.connector.errors.ProgrammingError) 002003 (42S02): SQL compilation error:
Object 'COURSES.PUBLIC.TEROR' does not exist or not authorized.
[SQL: SELECT * FROM public.teror; -- vybere vsechny sloupce a radky z tabulky teror]
(Background on this error at: http://sqlalche.me/e/13/f405)