In [ ]:
#ignore
import numpy as n
import sqlalchemy as sql

%load_ext sql

In [ ]:
#ignore
import os
os.environ["snflk_pwd"] = ""
print (len(os.getenv("snflk_pwd")))

In [ ]:
#ignore
from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

user = 'sfadmin'
connection_string = "snowflake://{user}:{user}@aa85077.eu-central-1".format(user='sfadmin', password='nVrZotj6xz2Bcx6Beg')

%sql $connection_string

In [ ]:
#ignore
%sql use database courses;
%sql use warehouse compute_wh;

### První select
- klíčová slova
- velikost písmen

In [ ]:
%%sql
SELECT 1;   -- vybere 1

In [ ]:
## Kalkulačka?
- Sčítání, odčítání, násobení, všechno funguje, jak má

In [ ]:
%%sql
SELECT 25 * 30; -- 750
SELECT 25 * 0;  -- 0
SELECT 25 / 2.5; -- 10.0
SELECT 25/0; -- division by zero

In [ ]:
## Všechny sloupečky a řádky
- Prostě vybereme všechno

In [ ]:
%%sql
SELECT * FROM teror; -- vybere vsechny sloupce a radky z tabulky teror