In [1]:
import numpy as n
import sqlalchemy as sql

%load_ext sql

In [20]:
print (len(os.getenv("snflk_pwd")))

In [4]:
from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

user = 'sfadmin'
connection_string = "snowflake://{user}:{password}@aa85077.eu-central-1".format(user='sfadmin', password='nVrZotj6xz2Bcx6Beg')

%sql $connection_string

'Connected: sfadmin@None'

In [24]:
%sql use database courses;
%sql use warehouse compute_wh;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * snowflake://sfadmin:***@aa85077.eu-central-1
1 rows affected.
 * snowflake://sfadmin:***@aa85077.eu-central-1
1 rows affected.

[('Statement executed successfully.',)]

In [ ]:
<i>popisek lekce pro snowflake</i>
ijdl jlsdj lůdkas §fskf

In [17]:
%%sql
select gname, iyear, imonth, iday  from sch_czechita.teror limit 30;

 * snowflake://sfadmin:***@aa85077.eu-central-1
30 rows affected.

[('Jaish-e-Islam', 2014, 1, 1),
 ('Unknown', 2014, 1, 1),
 ('Al-Shabaab', 2014, 1, 1),
 ('Unknown', 2014, 1, 1),
 ('Unknown', 2014, 1, 1),
 ('Muslim extremists', 2014, 1, 1),
 ('Unknown', 2014, 1, 1),
 ('Unknown', 2014, 1, 1),
 ('Unknown', 2014, 1, 1),
 ('Unknown', 2014, 1, 1),
 ('Islamic State of Iraq and the Levant (ISIL)', 2014, 1, 1),
 ('Islamic State of Iraq and the Levant (ISIL)', 2014, 1, 1),
 ('Islamic State of Iraq and the Levant (ISIL)', 2014, 1, 1),
 ('Islamic State of Iraq and the Levant (ISIL)', 2014, 1, 1),
 ('Islamic State of Iraq and the Levant (ISIL)', 2014, 1, 1),
 ('Islamic State of Iraq and the Levant (ISIL)', 2014, 1, 1),
 ('Islamic State of Iraq and the Levant (ISIL)', 2014, 1, 1),
 ('Islamic State of Iraq and the Levant (ISIL)', 2014, 1, 1),
 ('Islamic State of Iraq and the Levant (ISIL)', 2014, 1, 1),
 ('Islamic State of Iraq and the Levant (ISIL)', 2014, 1, 1),
 ('Islamic State of Iraq and the Levant (ISIL)', 2014, 1, 1),
 ('Islamic State of Iraq and the Levant (ISIL)', 2014, 1, 1),
 ('Taliban', 2014, 1, 1),
 ('Unknown', 2014, 1, 1),
 ('Al-Shabaab', 2014, 1, 1),
 ('Al-Shabaab', 2014, 1, 1),
 ('Unknown', 2014, 1, 1),
 ('Mozambique National Resistance Movement (MNR)', 2014, 1, 1),
 ('Unknown', 2014, 1, 1),
 ('Unknown', 2014, 1, 1)]

In [8]:
%sql select 1;

 * snowflake://sfadmin:***@aa85077.eu-central-1
1 rows affected.

[(1,)]